<!DOCTYPE html>
<html >
<body>
<div class="panel panel-primary">
    <div class="panel-heading">Depositar Cheques</div>
    <div class="panel-body" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Banco</label>
                    <div class="col-sm-6">
                        <select id="banco"  ng-change="listaCuentasSegunBanco()" class="form-control input-sm" ng-model=datos.banco>
                            <option value> --Seleccionar --</option> <option ng-repeat="c in listaBancos" value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Cuentas Bancarias</label>
                    <div class="col-sm-6">
                        <select id="numero"   class="form-control input-sm"
                                ng-model=datos.numero>
                            <option value = ""> --Seleccionar --</option>
                            <option ng-repeat="c in listaCuentasBancarias"
                                    value="{{c.numero}}">{{c.numero}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" ng-click="guardarDepositos()"  class="btn btn-primary btn-sm" value="Guardar" />
                        <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="panel panel-default" ng-show="lista.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>
                <th></th>
                <th>N&uacute;mero</th>
                <th>Banco</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Monto</th>
                <th>En Guaran&iacute;es</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in lista">
                <!--<td><input ng-show="item.estado != 'COBRADO'" type="checkbox" name="vehicle" value={{item.codigo}} ng-model="check" ng-click='foo($index)'></td>
                --><td>{{item.numeroCheque}}</td>
                <td>{{item.banco}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.monto}}</td>
                <td>{{item.glosa}}</td>

                <td>
                 <!--   <button ng-show="item.estado != 'COBRADO'" ng-click="remove($index)" class="btn btn-danger btn-xs">Eliminar</button>
                    <button ng-show="item.estado != 'COBRADO'" ng-click="modificar($index)" class="btn btn-success btn-xs">Modificar</button> -->
                </td>
                <!-- <td>
                    {{item.checkActivo}}
                </td> -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
