<!DOCTYPE html>
<html >
<body>
<!--<head>-->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<!--</head>-->

<div class="panel panel-primary">
    <div class="panel-heading">Actualizar Cheques</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-6 control-label">N&uacute;mero de Cheque</label>
                    <div class="col-sm-6">
                        <input autofocus  maxlength="200" required primary type="text" class="form-control input-sm" ng-model="datos.numeroCheque"/>
                    </div>
                </div>

                <div class="form-group margin-bottom-5">
                    <label class="col-sm-6 control-label">Fecha</label>
                    <div class="col-sm-6">
                        <input maxlength="50" class="form-control input-sm"  required primary type="date"  ng-model="datos.fecha"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 control-label">Monto</label>
                    <div class="col-sm-6">
                        <input autofocus  maxlength="200" required primary type="text" class="form-control input-sm" ng-model="datos.monto"/>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Banco</label>
                    <div class="col-sm-8">
                        <select id="banco" class="form-control input-sm" ng-model=datos.banco>
                            <option value> --Seleccionar --</option> <option ng-repeat="c in listaBancos" value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Estado</label>
                    <div class="col-sm-8">
                        <select id="estado"   class="form-control input-sm"
                                ng-model=datos.estado>
                            <option value = ""> --Seleccionar --</option>
                            <option ng-repeat="c in listaEstados"
                                    value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">

                <div class="col-sm-offset-5 col-sm-10">
                    </br>
                    <input type="button" ng-click="guardar()"  class="btn btn-primary btn-sm" value="Guardar" />
                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                </div>
            </div>


        </form>

    </div>
</div>

</body>
</html>

</body>
</html>
