<div class="panel panel-primary">
    <div class="panel-heading">Agregar Valores</div>
    <div class="panel-body">
        <form ng-submit="add()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Dominio</label>
                <div class="col-sm-3">
               <!--ng-change=cambioDominios(otros.descripcion);-->
                    <select class="col-sm-2 form-control" id="opciones" ng-change=cambioDominios(otros.descripcion);
                            ng-model=otros.descripcion>
                        <option value> --Seleccionar --</option>
                        <option ng-repeat="c in listaDominios"
                                value="{{c.codigo}}">{{c.codigo}}</option>

                    </select>
                    <!--<input autofocus  maxlength="20" required primary type="text" class="form-control input-sm" ng-model="datos.dominio"/>-->
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Valor</label>
                <div class="col-sm-5">
                    <input required  style="text-transform:uppercase" type="text" class="form-control input-sm" ng-model="datos.valor" maxlength="50"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                    <!--|| !datos.descripcion || !datos.dominio-->
                    <input ng-disabled="!datos.valor || !datos.dominio" type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />

                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                </div>
            </div>
        </form>

    </div>
</div>