<!DOCTYPE html>
<html >
<body>
<div class="panel panel-primary">
    <div class="panel-heading">Clientes</div>
    <div class="panel-body" >
        <form ng-submit="buscar()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Cedula</label>
                <div class="col-sm-3">
                    <input autofocus  maxlength="20"  primary type="text" class="form-control input-sm" ng-model="datos.ruc"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre Apellido</label>
                <div class="col-sm-5">
                    <input  type="text" style="text-transform:uppercase" class="form-control input-sm" ng-model="datos.nombre " maxlength="50"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" ng-click="buscar()"  class="btn btn-primary btn-sm" value="Buscar" />
                    <input type="button" ng-click ="limpiar()" class="btn btn-warning btn-sm" value="Limpiar"/>
                    <input type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />
                </div>
            </div>
        </form>

    </div>
</div>
<!--<div class="row">-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-10">-->
            <!--<input type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--listaDominios.length > 0-->
<div class="panel panel-default" ng-show="listaClientes.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in listaClientes">
                <td>{{item.codigo}}</td>
                <td>{{item.cedula}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>

                <td>
                    <button ng-click="remove($index)" class="btn btn-danger btn-xs">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

</body>
</html>
