<!DOCTYPE html>
<div class="panel panel-primary">
    <div class="panel-heading">Agregar Cajas</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-6">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Numero:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" style="text-transform:uppercase" maxlength="50" required primary type="text"  ng-model="datos.numero"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Expedicion:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" maxlength="50" required primary type="text"  ng-model="datos.expedicion"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Estado:</label>
                    <div class="col-sm-8">
                        <select id="estado"     class="form-control input-sm"
                                ng-model=datos.estado>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaEstados"
                                    value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Sucursal:</label>
                    <div class="col-sm-8">
                        <select id="sucursal"  class="form-control input-sm"
                                ng-model=datos.sucursal>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaTaller"
                                    value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-offset-5 col-sm-10">
                    <!--ng-disabled="!datos.codigo || !datos.descripcion"-->
                    </br>
                    <input  type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />
                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                    <!--<input type="button" ng-click="confirm()"  class="btn btn-warning btn-sm" value="Confirmar" />-->
                </div>
            </div>


        </form>

    </div>
</div>

</body>
</html>

</body>
</html>
