<!DOCTYPE html>
<html >
<body>
<!--<head>-->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<!--</head>-->

<div class="panel panel-primary">
    <div class="panel-heading">Generar Cheque</div>
    <div class="panel-body" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-6">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Banco:</label>
                    <div class="col-sm-8">
                        <select id="banco"   class="form-control input-sm"
                                ng-model=datos.banco ng-change="changeBancos()">
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaBancos"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>
                </div>

                <div class="form-group  margin-bottom-5">
                    <label class="col-sm-4 control-label">Numero Cheque:</label>
                    <div class="col-sm-8">
                        <select id="numeroCheque" ng-disabled="!datos.cuentaBancaria"   class="form-control input-sm"
                                ng-model=datos.numeroCheque>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaNumerosCheque"
                                    value="{{c.numero}}">{{c.numero}}</option>

                        </select>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Cuentas Bancaria:</label>
                    <div class="col-sm-8">
                        <select id="cuentasBancaria" ng-disabled="!datos.banco"   class="form-control input-sm"
                                ng-model=datos.cuentaBancaria>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaCuentasBancarias"
                                    value="{{c.numero}}">{{c.numero}}</option>

                        </select>
                    </div>
                </div>
                <div  ng-show="datos.total" class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Total:</label>
                    <div class="col-sm-4">
                        <input disabled class="form-control input-sm" list="browsers" name="browser" ng-model="datos.total" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" ng-disabled="!datos.banco||!datos.cuentaBancaria||!datos.numeroCheque"
                            ng-click="generarCheque()"  class="btn btn-success btn-sm" value="Generar Cheque" />
                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                </div>
            </div>
        </form>
    </div>
</div>


<div class="panel panel-default" ng-show="lista.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>

                <th>Nombre</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Numero</th>
                <th>Documento</th>
                <th>Doc Numero</th>
                <th>Monto</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in lista">

                <td>{{item.nombre}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.fechaVencimiento}}</td>
                <td>{{item.numero}}</td>
                <td>{{item.documento}}</td>
                <td>{{item.documentoNumero}}</td>
                <td>{{item.monto}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>
