<!DOCTYPE html>
<html >
<body>
<!--<head>-->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<!--</head>-->

<div class="panel panel-primary">
    <div class="panel-heading">Pago a Proveedores</div>
    <div class="panel-body" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-6">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Proveedores:</label>
                    <div class="col-sm-8">
                        <input ng-change="changeCliente()" uppercase autofocus class="form-control input-sm"
                               list="browsers" name="browser" ng-model="datos.nombre"  >
                        <datalist id="browsers" >
                            <option ng-repeat="c in listaProveedores"
                                    value="{{c.representanteNombre}}">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Estado:</label>
                    <div class="col-sm-8">
                        <select id="estado"   class="form-control input-sm"
                                ng-model=datos.estado>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaEstados"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>
                </div>
                <div  ng-show="datos.total" class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Total:</label>
                    <div class="col-sm-4">
                        <input disabled class="form-control input-sm" list="browsers" name="browser" ng-model="datos.total" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" ng-click="buscar()"  class="btn btn-primary btn-sm" value="Buscar" />
                    <input type="button" ng-click ="limpiar()" class="btn btn-warning btn-sm" value="Limpiar"/>
                    <input type="button" ng-disabled="inhabilitarCambio" ng-click="generarCheque()"  class="btn btn-success btn-sm" value="Generar Cheque" />
                </div>
            </div>
        </form>

    </div>
</div>
<!--<div class="row">-->
<!--<div class="form-group">-->
<!--<div class="col-sm-10">-->
<!--<input type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="panel panel-default" ng-show="lista.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Numero</th>
                <th>Documento</th>
                <th>Doc Numero</th>
                <th>Monto</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in lista">
                <td><input ng-disabled="item.estado != 'PENDIENTE'" ng-show="item.estado != 'COBRADO'" type="checkbox" name="vehicle" value={{item.codigo}} ng-model="check" ng-click='foo($index)'></td>
                <td>{{item.nombre}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.fechaVencimiento}}</td>
                <td>{{item.numero}}</td>
                <td>{{item.documento}}</td>
                <td>{{item.documentoNumero}}</td>
                <td>{{item.monto}}</td>
                <td>
                    {{item.checkActivo}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>
