<!DOCTYPE html>
<html >
<body>

<div class="panel panel-primary">
    <div class="panel-heading">Agregar Usuarios Sucursales</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-4">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Usuario</label>
                    <div class="col-sm-8">
                        <input  class="form-control input-sm" maxlength="20" required primary type="text"  ng-model="datos.usuario"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Sucursal</label>
                    <div class="col-sm-8">
                        <input style="text-transform:uppercase" maxlength="20" class="form-control input-sm"  required primary type="text"  ng-model="datos.sucursal"/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                    </br>
                    <input  type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />

                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                </div>
            </div>

        </form>

    </div>
</div>

</body>
</html>

</body>
</html>
