<!DOCTYPE html>
<html >
<body>

<div class="panel panel-primary">
    <div class="panel-heading">Medio de Pago</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-4">
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-5  control-label">
                        Medio Pago
                    </div>
                    <div class="col-sm-7">
                        <select ng-model="datos.medioPago" class="form-control input-sm" ng-disabled="!datos.condicionCompra" ng-change="changeMedioPago()">
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaMediosPago"
                                    value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-5  control-label">
                        Marca Tarjeta
                    </div>
                    <div class="col-sm-7">
                        <select ng-model="datos.marcaTarjeta"  class="form-control input-sm" ng-disabled="inhabilitarTC">
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaMarcaTarjeta"
                                    value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>



            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-sm-5  control-label">Importe</div>
                    <div class="col-sm-7">
                        <input ng-change="changeImporte()" required type="text" class="form-control input-sm" ng-model="datos.importe" maxlength="50"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <input  ng-disabled=" !datos.condicionCompra || !datos.importe" type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />
            </div>
        </form>

    </div>
</div>

<div class="panel panel-default" ng-show="lista.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>

                <th>Monto</th>
                <th>Documento</th>
                <th>Doc Numero</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Vencimiento</th>
                <th>Numero</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in lista">

                <td>{{item.monto}}</td>
                <td>{{item.documento}}</td>
                <td>{{item.documentoNumero}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.fechaVencimiento}}</td>
                <td>{{item.numero}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-default" ng-show="lista.length > 0">
    <div  id="div2">
        <table class="table" >
            <thead>
            <tr>
                <th>Medio Pago</th>
                <th>Marca Tarjeta</th>
                <th>Importe</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in listaPago">
                <td>{{item.medioPago}}</td>
                <td>{{item.marcaTarjeta}}</td>
                <td>{{item.importe}}</td>
                <td>
                    <button ng-click="remove($index)" class="btn btn-danger btn-xs">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="form-group">

    <div class="col-sm-offset-4 col-sm-10">
        <input  type="button" ng-click="guardar()"  class="btn btn-success btn-sm" value="Guardar" />
        <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
        <!--<input type="button" ng-click="confirm()"  class="btn btn-warning btn-sm" value="Confirmar" />-->
    </div>
</div>







</body>
</html>
