<div class="panel panel-primary">
    <div class="panel-heading">Agregar Servicios</div>
    <div class="panel-body">
        <form ng-submit="add()" class="form-horizontal">

            <div class="col-lg-6">


                <div class="form-group">
                    <label class="col-sm-4 control-label">Descripcion</label>
                    <div class="col-sm-8">
                        <input required  style="text-transform:uppercase" type="text" class="form-control input-sm" ng-model="datos.descripcion" maxlength="50"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Precio Unitario</label>
                    <div class="col-sm-8">
                        <input required  style="text-transform:uppercase" type="number" class="form-control input-sm" ng-model="datos.precioUnitario" maxlength="50"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Grabado</label>
                    <div class="col-sm-5">
                        <select id="grabado" class="form-control input-sm" ng-model=datos.grabado>
                            <option value> --Seleccionar --</option> <option ng-repeat="c in listaGrabados" value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-5">
                        <select id="estado" class="form-control input-sm" ng-model=datos.estado>
                            <option value> --Seleccionar --</option> <option ng-repeat="c in listaEstados" value="{{c.valor}}">{{c.valor}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <!--|| !datos.descripcion || !datos.dominio-->
                    <input ng-disabled=" !datos.descripcion" type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />
                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                    <!--<input type="button" ng-click="confirm()"  class="btn btn-warning btn-sm" value="Confirmar" />-->
                </div>
            </div>
        </form>

    </div>
</div>