<!DOCTYPE html>
<html >
<body>
<div class="panel panel-primary">
    <div class="panel-heading">Circuito</div>
    <div class="panel-body" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-4">
                    <select id="estado"   class="form-control input-sm"
                            ng-model=datos.estado>
                        <option value> --Seleccionar --</option>
                        <option ng-repeat="c in listaEstados"
                                value="{{c.valor}}">{{c.valor}}</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Cliente</label>
                <div class="col-sm-5">
                    <input required type="text" class="form-control input-sm" ng-model="datos.cliente" maxlength="50"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" ng-click="buscar()"  class="btn btn-primary btn-sm" value="Buscar" />
                    <input type="button" ng-click ="limpiar()" class="btn btn-warning btn-sm" value="Limpiar"/>
                    <input type="button" ng-click="ingresarEquipo()"  class="btn btn-basic btn-sm" value="Ingresar Equipo" />
                </div>
            </div>
        </form>

    </div>
</div>

<!--listaDominios.length > 0-->
<div class="panel panel-default" ng-show="lista.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>
                <th>Secuencia</th>
                <th>Estado</th>
                <th>Lugar</th>
                <th>Responsable</th>
                <th>Fecha</th>
                <th>Observacion</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in lista">
                <td>{{item.secuencia}}</td>
                <td>{{item.estado}}</td>
                <td>{{item.lugar}}</td>
                <td>{{item.responsable}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.observacion}}</td>
                <td>
                    <div ng-show="item.estado == 'RECEPCIONADO' ">
                        <button ng-click="cotizar($index)" class="btn btn-info btn-xs">Cotizar</button>
                        <button ng-click="modificarIngresarEquipos($index)" class="btn btn-success btn-xs">Editar</button>
                        <button ng-click="anular($index)" class="btn btn-default btn-xs">Anular</button>
                    </div>
                    <div ng-show="item.estado == 'COTIZADO' ">
                        <button ng-click="aprobar($index)" class="btn btn-primary btn-xs">Aprobar</button>
                        <button ng-click="rechazar($index)" class="btn btn-verde-oscuro btn-xs">Rechazar</button>
                        <button ng-click="anular($index)" class="btn btn-default btn-xs">Anular</button>
                    </div>

                    <div ng-show="item.estado == 'APROBADO' ">
                        <button ng-click="reparar($index)" class="btn-color1 btn btn-xs">Reparar</button>
                        <!--<button ng-click="cancelar($index)" class="btn btn btn-xs">Cancelar</button>-->
                        <button ng-click="anular($index)" class="btn btn-default btn-xs">Anular</button>
                    </div>
                    <div ng-show="(item.estado == 'RETIRADO' || item.estado == 'RECHAZADO')">
                        <button ng-click="historial($index)" class="btn btn-warning btn-xs">Historial</button>
                    </div>

                    <div ng-show="item.estado == 'REPARADO' ">
                        <button ng-click="transpasoFacturacion($index)" class="btn btn-lila btn-xs">Facturar</button>
                        <button ng-click="cotizar($index)" class="btn btn-info btn-xs">Cotizar</button>
                        <button ng-click="anular($index)" class="btn btn-default btn-xs">Anular</button>
                    </div>
                    <div ng-show="item.estado == 'ANULADO' ">
                        <button ng-click="historial($index)" class="btn btn-warning btn-xs">Historial</button>
                    </div>

                    <div ng-show="item.estado == 'PAGADO' ">
                        <button ng-click="entregar($index)" class="btn btn-lila btn-xs">Entregar</button>
                    </div>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
