<!DOCTYPE html>
<html >
<body>
<!--<head>-->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<!--</head>-->

<div class="panel panel-primary">
    <div class="panel-heading">Servicios</div>
    <div class="panel-body" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Codigo</label>
                <div class="col-sm-3">
                    <input autofocus  maxlength="20" required primary type="text" class="form-control input-sm" ng-model="datos.codigo"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Descripcion</label>
                <div class="col-sm-5">
                    <input required type="text" class="form-control input-sm" ng-model="datos.descripcion " maxlength="50"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" ng-click="buscar()"  class="btn btn-primary btn-sm" value="Buscar" />
                    <input type="button" ng-click ="limpiar()" class="btn btn-warning btn-sm" value="Limpiar"/>
                    <input type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />
                </div>
            </div>
        </form>

    </div>
</div>

<!--listaDominios.length > 0-->
<div class="panel panel-default" ng-show="listaServicios.length > 0">
    <div  id="div1">
        <table class="table" >
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio Unitario</th>
                <th>Grabado</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in listaServicios">
                <td>{{item.codigo}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.precioUnitario}}</td>
                <td>{{item.grabado}}</td>
                <td>{{item.estado}}</td>
                <td>
                    <button  ng-click="remove($index)" class="btn btn-danger btn-xs">Eliminar</button>
                    <input type="button" ng-click="modificar($index)"  class="btn btn-success btn-xs" value="Modificar" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>