<!DOCTYPE html>
<html >
<body>
<!--<head>-->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<!--</head>-->

<div class="panel panel-primary">
    <div class="panel-heading">Agregar Articulos</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-8">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-3 control-label">Descripcion:</label>
                    <div class="col-sm-9">
                        <input  class="form-control input-sm" style="text-transform:uppercase" maxlength="200" required primary type="text"  ng-model="datos.descripcion"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-3 control-label">Codigo Barra:</label>
                    <div class="col-sm-6">
                        <input class="form-control input-sm" style="text-transform:uppercase" maxlength="50" required primary type="text"  ng-model="datos.codigoBarra"/>

                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-3 control-label">Precio:</label>
                    <div class="col-sm-4">
                        <input class="form-control input-sm" maxlength="50" required primary type="number"  ng-model="datos.precioUnitario"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-3 control-label">Moneda:</label>
                    <div class="col-sm-4">
                        <select id="moneda"  class="form-control input-sm"
                                ng-model=datos.moneda>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaMonedas"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>

                </div>
                <!--<div class="form-group margin-bottom-5">-->
                    <!--<label class="col-sm-3 control-label">Cantidad Minima:</label>-->
                    <!--<div class="col-sm-2">-->
                        <!--<input class="form-control input-sm" maxlength="50" required primary type="number"-->
                               <!--ng-model="datos.cantidadMinima"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group margin-bottom-5">-->
                    <!--<label class="col-sm-3 control-label">Cantidad Maxima:</label>-->
                    <!--<div class="col-sm-2">-->
                        <!--<input class="form-control input-sm" maxlength="50" required primary type="number"-->
                               <!--ng-model="datos.cantidadMaxima"/>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="col-lg-4">
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Marca:</label>
                    <div class="col-sm-8">
                        <select id="marca"     class="form-control input-sm"
                                ng-model=datos.marca>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaMarcas"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>

                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Modelo:</label>
                    <div class="col-sm-8">
                        <select id="modelo"  class="form-control input-sm"
                                ng-model=datos.modelo>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaModelos"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>

                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select id="tipo"      class="form-control input-sm"
                                ng-model=datos.tipo>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaTipos"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>

                </div>
                <div class="form-group margin-bottom-5">
                    <label class="col-sm-4 control-label">Grabado:</label>
                    <div class="col-sm-8">
                        <select id="grabado"   class="form-control input-sm"
                                ng-model=datos.grabado>
                            <option value> --Seleccionar --</option>
                            <option ng-repeat="c in listaGrabados"
                                    value="{{c.valor}}">{{c.valor}}</option>

                        </select>
                    </div>

                </div>



            </div>

            <div class="form-group">

                <div class="col-sm-offset-5 col-sm-10">
                    <!--ng-disabled="!datos.codigo || !datos.descripcion"-->
                    </br>
                    <input  type="button" ng-click="agregar()"  class="btn btn-primary btn-sm" value="Agregar" />
                    <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
                    <!--<input type="button" ng-click="confirm()"  class="btn btn-warning btn-sm" value="Confirmar" />-->
                </div>
            </div>


        </form>

    </div>
</div>

</body>
</html>

</body>
</html>
