<div class="jumbotron text-center">
    <body class="pad">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger" ng-click="launch('error')">Error Dialog</button>

            <button class="btn btn-success" ng-click="launch('exito')">Exito Dialog</button>

            <button class="btn btn-primary" ng-click="launch('wait')">Wait Dialog</button>

            <button class="btn btn-default" ng-click="launch('notify')">Notify Dialog</button>

            <button class="btn btn-success" ng-click="launch('confirm')">Confirm Dialog</button>

            <button class="btn btn-warning" ng-click="launch('notificacion')">Custom Dialog</button>
        </div>
    </div>
    </body>
</div>