<!DOCTYPE html>
<html >
<body>
<div class="panel panel-primary" ng-show="!mostrarItem">
    <div class="panel-heading">Nota Credito (debito)</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-4">

                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                       Factura Id
                    </div>
                    <!--<div>-->
                    <input  disabled  maxlength="20" required primary type="text"  ng-model="datos.codigo"/>
                    <!--</div>-->

                </div>
            </div>
            <div class="col-lg-4">

                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Sucursal
                    </div>
                    <input disabled  class="col-sm-8"  maxlength="20" required primary type="text"  ng-model="datos.sucursal"/>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-5">
                        Proveedor
                    </div>
                    <input disabled  class="col-sm-7"  maxlength="20" required primary type="text"  ng-model="datos.proveedor"/>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="panel panel-primary" ng-show="lista.length>0&& !mostrarItem">
    <div class="panel-body nopadding" >
        <form ng-submit="add()" class="form-horizontal">
            <div>
                <table class="table" >
                    <thead>
                    <tr>
                        <th class="width-10">Codigo</th>
                        <th>Descripcion</th>
                        <th>Precio U</th>
                        <!--<th>Unidad</th>-->
                        <th class="width-10">Cantidad</th>
                        <!--<th>Descuento</th>-->
                        <th>Impuesto</th>
                        <th>Importe</th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in lista">
                        <td>{{item.codigoArticulo}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.precio}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.impuesto}}</td>
                        <td>{{item.total}}</td>
                         <td>
                             <div ng-show="item.estado != 'COPIADO' ">
                                 <button ng-click="copiar($index)" class="btn btn-primary btn-xs">Copiar</button>
                             </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-primary" ng-show="listaNotaCredito.length>0 && !mostrarItem">
    <div class="panel-body nopadding" >
        <form ng-submit="add()" class="form-horizontal">
            <div>
                <table class="table" >
                    <thead>
                    <tr>
                        <th class="width-10">Codigo</th>
                        <th>Descripcion</th>
                        <th>Precio U</th>
                        <!--<th>Unidad</th>-->
                        <th class="width-10">Cantidad</th>
                        <!--<th>Descuento</th>-->
                        <th>Impuesto</th>
                        <th>Importe</th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in listaNotaCredito">
                        <td>{{item.codigoArticulo}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.precio}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.impuesto}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <button ng-click="eliminar($index)" class="btn btn-danger btn-xs">Eliminar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>


<div class="form-group" ng-show="!mostrarItem">

    <div class="col-sm-offset-5 col-sm-10">

        <input ng-disabled="! listaNotaCredito.length>0" type="button" ng-click="procesar()"  class="btn btn-primary btn-sm" value="Procesar" />
        <input type="button" ng-click="cancelar()"  class="btn btn-danger btn-sm" value="Cancelar" />
        <!--<input type="button" ng-click="confirm()"  class="btn btn-warning btn-sm" value="Confirmar" />-->
    </div>
</div>

<div class="panel panel-primary" ng-show="mostrarItem">
    <div class="panel-heading">Nota Credito Item</div>
    <div class="panel-body padding-minimo" >
        <form ng-submit="add()" class="form-horizontal">
            <div class="col-lg-4">
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Articulo
                    </div>
                    <div class="col-sm-8">
                        <input disabled  class="form-control input-sm"  primary type="text"  ng-model="itemCredito.codigoArticulo"/>
                    </div>

                </div>
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Precio
                    </div>
                    <div class="col-sm-8">
                        <input disabled  class="form-control input-sm"   maxlength="20" required primary type="text"  ng-model="itemCredito.precio"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Cantidad
                    </div>
                    <div class="col-sm-8">
                        <input  disabled class="form-control input-sm"  maxlength="20" required primary type="text"  ng-model="itemCredito.cantidad"/>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">

                <div class="form-group margin-bottom-5">

                    <div class="col-sm-12">
                        <input disabled class="form-control input-sm"    maxlength="20" required primary type="text"  ng-model="itemCredito.descripcion"/>
                    </div>
                </div>

                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Nuevo Precio
                    </div>
                    <div class="col-sm-8">
                        <input  class="form-control input-sm"   maxlength="20" required primary type="text"  ng-model="itemCredito.precioNuevo"
                                ng-change="changeNuevoPrecio()" />
                    </div>
                </div>

                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Nueva Cant.
                    </div>
                    <div class="col-sm-8">
                        <input  class="form-control input-sm"   maxlength="20" required primary type="text"  ng-model="itemCredito.cantidadNueva"
                                ng-change="changeNuevaCantidad()"/>
                    </div>
                </div>



            </div>
            <div class="col-lg-4">
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Iva
                    </div>
                    <div class="col-sm-8">
                         <input disabled  class="form-control input-sm"   maxlength="20" required primary type="text"  ng-model="itemCredito.iva"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Total
                    </div>
                    <div class="col-sm-8">
                        <input disabled  class="form-control input-sm"    maxlength="20" required primary type="text"  ng-model="itemCredito.total"/>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <div class="col-sm-4">
                        Impuesto
                    </div>
                    <div class="col-sm-8">
                        <input disabled class="form-control input-sm"   maxlength="20" required primary type="text"  ng-model="itemCredito.impuesto"/>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="form-group" ng-show="mostrarItem">

    <div class="col-sm-offset-5 col-sm-10">

        <input ng-disabled="inhabilitarItem" type="button" ng-click="agregarItem()"  class="btn btn-primary btn-sm" value="Guardar" />
        <input type="button" ng-click="cambiarMostrarItem()"  class="btn btn-danger btn-sm" value="Cancelar" />
        <!--<input type="button" ng-click="confirm()"  class="btn btn-warning btn-sm" value="Confirmar" />-->
    </div>
</div>

</body>
</html>

</body>
</html>
